*
!.gitignore
!gtk-3.0
!gtk-3.0/**
!gtk-4.0
!gtk-4.0/**
!kate
!nvim
!nvim/**
!vim
!vim/**
!dolphinrc
!gtkrc
!gtkrc-2.0
!katerc
!kcminputrc
!kdeglobals
!kglobalshortcutsrc
!khotkeysrc
!konsolerc
!krunnerrc
!kscreenlockerrc
!ksmserverrc
!ksplashrc
!kwinrc
!kwinrulesrc
!lattedockrc
!plasma-org.kde.plasma.desktop-appletsrc
!plasmarc
!plasmashellrc
